<div class="row mt-2 mb-2">
    <!-- <h1>{{ store.name }}</h1>
    <img src="{{store.logo}}" alt="Store Logo" style="width: 100px;height: 100px;">
    <p>ID: {{ product.ID }}</p>
    <p>Name: {{ product.Name }}</p>
    <p>Quantity: {{ product.Quantity }}</p>
    <p>Price: {{ product.Price }}</p>
    <img src="{{product.Img}}" alt="" style="width: 100px;height: 100px;">
    <p>Category ID: {{ product.CategoryID }}</p> -->
    <!-- <div class="card-group">
        <div class="card mx-2">
            <img src="{{product.Img}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ store.name }}</h5>
                <p class="card-text">
                    Product ID: {{ product.ID }} <br>
                    Product Name: {{ product.Name }} <br>
                    Avilable pcs: {{ product.Quantity }} <br>
                    Price: {{ product.Price }} <br>
                </p>
                <div class="d-flex align-center justify-content-between">
                <p class="card-text">
                    Category :<br>
                    {{ Category.ID }} / {{ Category.Name }}
                </p>
                <img src="{{store.logo}}" class="card-img-top img-fluid" alt="..." style="height: 100px;width: 100px;">
            </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mx-2">
            <img src="{{product.Img}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ store.name }}</h5>
                <p class="card-text">
                    Product ID: {{ product.ID }} <br>
                    Product Name: {{ product.Name }} <br>
                    Avilable pcs: {{ product.Quantity }} <br>
                    Price: {{ product.Price }} <br>
                </p>
                <div class="d-flex align-center justify-content-between">
                <p class="card-text">
                    Category :<br>
                    {{ Category.ID }} / {{ Category.Name }}
                </p>
                <img src="{{store.logo}}" class="card-img-top img-fluid" alt="..." style="height: 100px;width: 100px;">
            </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mx-2">
            <img src="{{product.Img}}" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ store.name }}</h5>
                <p class="card-text">
                    Product ID: {{ product.ID }} <br>
                    Product Name: {{ product.Name }} <br>
                    Avilable pcs: {{ product.Quantity }} <br>
                    Price: {{ product.Price }} <br>
                </p>
                <div class="d-flex align-center justify-content-between">
                <p class="card-text">
                    Category :<br>
                    {{ Category.ID }} / {{ Category.Name }}
                </p>
                <img src="{{store.logo}}" class="card-img-top img-fluid" alt="..." style="height: 100px;width: 100px;">
            </div>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div> -->
</div>